@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
}

/* --start of menubar-- */
.menubar{
    display:flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    width: 100%;
    padding: 12px 0;
}
.logo{
    width: 20%;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.logo p a{
    font-weight: 700;
    margin: 0;
    font-size: 50px;
    text-decoration: none;
    color: white;
}
nav{
    /* width: 40%; */
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    margin-right: 20px;
}
nav ul{
    list-style: none;
}
nav ul li {
    float: left;
    padding: 10px;
    
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 21px;
    text-align: right;
    padding-right: 10px;
}
nav ul li a:hover{
    color: #ed661f;
}
nav ul li a:active{
    color: #ed661f;
    text-decoration: underline;
}

/* --end of menubar-- */


.formcontainer{
    margin-top: 8%;
    width: 100%;
}
.formcont{
    height: 600px;
    width: 50%;
    border: 1px solid #ed661f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    border-radius: 15px;
    background-color: #f1f1f1;
}
.formcont h1{
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}

.formcont button{
    font-size: 16px;
    padding: 8px 14px;
    border-radius: 5px;
    border: none;
    background-color: #ed661f;
    color: white;
    margin-top: 45px;
    font-size: 18px;
}
.formbtns{
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 720px) {
    .formcont{
        background-color: aqua;
        align-items: center;
        text-align: center;
    }
}

.shedselector{
    margin: 18px 0;
    width: 100%;
}
.shedselector label{
    font-size: 20px;

}
/* .shedselector select{
    font-size: 16px;
    padding: 4px;
    width: 120px;
    margin-top: 6px;
}
.shedselector select option{
    font-size: 16px;
    padding: 2px; 
} */
#shedlabeltxt{
    margin-right: 24px;
    font-size: 24px;
    
}
.quantityvalueinput{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    
}
.quantityvalueinput label{
    font-size: 16px;
    padding-right: 6px;
}
.quantityvalueinput input{
    font-size: 16px;
    padding: 4px;
    width: 75px;
}
/* ----------TEXT AREA------------- */
.textbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 12px;
    margin-right: auto;    
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.textbox h2{
    padding: 20px 0;
}
.textbox h2 a{
    text-decoration: none;
    color: black;
}
#output {
    border: 1px solid #ed661f;
    border-radius: 15px;
    background-color: #f1f1f1;
    padding: 20px;
    width: 80%;
    height: 200px auto;
}
#output, #output1, #output2, #output3, #output4 {
    color: black;
}
/* ----------TEXT AREA------------- */

/* ------------WEEKLY TEST AREA------------ */
#weeklyContainer {
    margin: 60px auto 0 auto;
    border: 1px solid #ed661f;
    border-radius: 15px;
    background-color: #f1f1f1;
    padding: 20px;
    width: 49%;
    height: 100px fixed;
}
#weeklyOutput{
    text-align: center;
    text-decoration: none;
    color: black;
}
#weeklyIncome{
    color: black;
    align-items: center;
    margin-top: 12px;
}

/* ------------WEEKLY TEST AREA------------ */

/* ------------YEARLY TEST AREA------------ */
#yearlyContainer {
    margin: 60px auto 100px auto;
    border: 1px solid #ed661f;
    border-radius: 15px;
    background-color: #f1f1f1;
    padding: 20px;
    width: 49%;
    height: 400px;
}
#yearlyOutput{
    text-align: center;
    text-decoration: none;
    color: black;
}
#yearlyIncome{
    color: black;
    align-items: center;
    margin-top: 12px;
}

/* ------------YEARLY TEST AREA------------ */













